{% extends "base.html" %}

{% block heading %}Pendientes{% endblock %}

{% block content %}
    <h3>Programación</h3>
    <ul>
        <li>Escribir búsqueda avanzada</li>
    </ul>

    <h3>Contenido</h3>
    <ul>
        <li><s>Revisar archivos sin título</s></li>
        <li>Partir archivos</li>
        <li>Extraer palabras clave</li>
        <li>Clasificar archivos</li>
    </ul>

    <h3>Robots</h3>
    <ul>
        <li>Escribir robot hemerográfico Uno</li>
        <li>Definir qué robots escribir</li>
        <li>Descargar el Twitter completo de @lopezobrador_</li>
    </ul>

    <h3>Otros</h3>
    <ul>
        <li>Crear usuarios necesarios</li>
    </ul>
{% endblock %}
