{% extends "base.html" %}

{% block heading %}Lista{% endblock %}

{% block content %}
    <table class="table">
    {% for object in object_list %}
    <tr>
        <td>{{ object }}</td>
        <td><a href="{{ object.get_absolute_url }}">Ver</a></td>
    </tr>
    {% empty %}
    <tr>
        <td><p>Sin resultados</p></td>
    </tr>
    {% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'bibloi:list' %}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'bibloi:list' %}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

