{% extends "base.html" %}
{% load more_like_this %}
{% block heading %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="content col-md-8 col-sm-12">
            <h5>{{ object.date }}</h5>
            <p><a href="{{ object.source_file.url }}"><i class="glyphicon glyphicon-file"></i> Descargar</a></p>
            <br/>
            {{ object.content|linebreaksbr }}
        </div>

        <div class="col-md-offset-1 col-md-3 col-sm-12">

        </div>
    </div>
{% endblock %}

